.eco-question {
	padding-top: 150px;
	padding-bottom: 150px;
	@include media("<desktop") {
		padding: 100px 0;
	}
	&__title {
		text-align: center;
		margin-bottom: 150px;
		color: #234b0b;
		font-size: 54px;
		font-weight: 900;
		line-height: 60px;
		text-transform: uppercase;
		@include media("<desktop") {
			margin-bottom: 50px;
		}
		@include media("<tablet-landscape") {
			font-size: 40px;
			line-height: 46px;
		}
		@include media("<tablet") {
			font-size: 28px;
			line-height: 34px;
		}
	}
	&__holder {
		width: 100%;
		height: 390px;
		position: relative;
		@include media("<desktop") {
			width: calc(100% + 80px);
			margin-left: -40px;
		}
		@include media("<tablet") {
			width: calc(100% + 40px);
			margin-left: -20px;
		}
		canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 390px;
			@include media("<large-desktop") {
				object-fit: cover;
				width: calc(100% + 40px);
				margin-left: -20px;
			}
			@include media("<tablet") {
				height: 310px;
				width: 767px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	&__buttons {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		display: flex;
		align-items: center;
		gap: 50px;
		@include media("<tablet") {
			width: 100%;
			gap: 8px;
			grid-template-columns: 1fr 1fr 1fr;
			display: grid;
			padding: 0 10px;
		}
		.button {
			border-radius: 44px;
			border: 1px solid #234b0b;
			background: #f5ffee;
			font-size: 24px;
			font-weight: 800;
			color: #000;
			padding: 15px 40px;
			text-transform: none;
			transition: background-color 0.3s ease-in-out;
			@include media("<tablet") {
				font-size: 16px;
				padding: 10px 17px;
			}
			&:hover {
				opacity: 1;
				background-color: #b7eb98;
			}
		}
	}
	.forest-container {
		max-width: 475px;
		margin: 0 auto;
		position: relative;
		.row {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 15px;
			margin-bottom: 18px;
		}
		.shovel {
			position: absolute;
			top: 0;
			left: 0;
			width: fit-content;
			width: 77px;
			height: 100px;
			@include media("<tablet") {
				width: 59px;
				height: 70px;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
