.services {
	position: relative;
	padding-top: 100px;
	padding-bottom: 80px;
	@include media("<desktop") {
		padding-bottom: 35px;
	}
}

.services-item {
	position: sticky;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	padding: 60px;
	align-items: center;
	border-top: 1px solid $color-white;
	border-bottom: 1px solid $color-white;
	background-color: $color-background;
	@include media("<desktop") {
		flex-direction: column;
		padding: 30px 22px;
		align-items: flex-start;
	}
	&:nth-child(1) {
		z-index: 3;
	}
	&:nth-child(2) {
		z-index: 2;
	}
	&:nth-child(3) {
		z-index: 1;
	}
	&:nth-child(even) {
		@include media(">=desktop") {
			.services-item__number {
				order: 1;
			}
			.services-item__img {
				order: 2;
			}
			.services-item__content {
				order: 3;
			}
		}
	}
	&__content {
		max-width: 450px;
		align-self: center;
		position: relative;
		@include media(">=large-desktop") {
			max-width: 735px;
		}
		@include media("<desktop") {
			order: 3;
			max-width: none;
		}
		.button {
			margin-top: 60px;
			@include media("<desktop") {
				margin-top: 30px;
			}
		}
	}
	&__img {
		@include media(">=desktop") {
			max-width: 350px;
		}
		@include media(">=large-desktop") {
			max-width: 520px;
		}
		@include media("<desktop") {
			order: 1;
			margin-bottom: 30px;
			width: calc(100% + 40px);
			margin-left: -20px;
		}
		img {
			width: 100%;
		}
	}
	&__number {
		-webkit-text-stroke: 1px #99a8b1;
		color: transparent;
		font-size: 55px;
		font-weight: 700;
		font-family: $neutral-ff;
		letter-spacing: 0.55px;
		transform: translateY(-110px);
		@include media("<desktop") {
			transform: none;
			order: 2;
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 20px;
		}
	}
}
