<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Task #1</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body class="main-page">
  <div class="wrapper">
    @@include("../blocks/modules/header/header.html")
    <main>
      @@include("../blocks/modules/services/services.html")
      @@include("../blocks/modules/contact-form/contact-form.html")
    </main>
  </div>
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>