<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Task #2</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <div class="wrapper">
    <main>
      @@include("../blocks/modules/eco-question/eco-question.html")
    </main>
  </div>
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>